<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <section style="text-align: center; width: 800px; margin: 0 auto">
      <div
        style="
          border: 2px solid transparent;
          border-radius: 30px;
          background-color: #f6f6f6;
        "
      >
        <h1 style="margin-top: 40px; font-size: 40px">축하드립니다!</h1>
        <div
          style="
            width: 550px;
            margin: 30px auto;
            padding: 10px;
            background: rgb(255, 255, 255);
            border-radius: 50px;
          "
        >
          <p>
            <span th:text="${receiver}"></span>님께서
            <span th:text="${sender}"></span>님을 맞혔습니다!<br />
            <span th:text="${sender}"></span>님도 복주머니를 생성하여 많은 복을
            받아보세요!
          </p>
        </div>
        <h2>
          <a href="#letterbox링크" style="text-decoration: none; color: #dd403d"
            >복주머니 생성하러 가기<br /><br />
            <img
              style="width: 500px"
              src="https://myletterboxbucket.s3.ap-northeast-2.amazonaws.com/d365728e-6dc2-4678-839d-de55192cd91a.png"
              alt=""
          /></a>
        </h2>
      </div>
    </section>
  </body>
</html>
